@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("AddService", "Service", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Hizmet Adı</label>
                        @Html.TextBoxFor(x=>x.ServiceTitle, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x=>x.ServiceTitle)
                    </div>
                    <div class="form-group">
                        <label>Pozisyon & Tarih</label>
                        @Html.TextBoxFor(x=>x.ServiceImageUrl, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x=>x.ServiceImageUrl)
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <a href="/Service/Index" class="btn btn-dark">Geri</a>
                </form>
            </div>
        </div>
    </div>
}