@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Hizmet Güncelleme Sayfası</h3>
</div>
@using (Html.BeginForm("EditService", "Service", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.ServiceId)
    <br />
    <label>Hizmet</label>
    @Html.TextBoxFor(x=>x.ServiceTitle, new {@class = "form-control"})
    <br />
    <label>Fotoğraf Yolu</label>
    @Html.TextBoxFor(x=>x.ServiceImageUrl, new {@class = "form-control"})
    <br />
    <button class="btn btn-primary">Güncelle</button>
}

