<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterDashboard/Index/">
                <i class="mdi mdi-cube-outline menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index/">
                <i class="mdi mdi-account-outline menu-icon"></i>
                <span class="menu-title">Profil</span>
                <i class="menu-title"></i>
            </a>    
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/GetReceiverMessage/">
                <i class="mdi mdi-message-text menu-icon"></i>
                <span class="menu-title">Gelen Kutusu</span>
                <i class="menu-title"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/GetSenderMessage/">
                <i class="mdi mdi-message-reply-text menu-icon"></i>
                <span class="menu-title">Giden Kutusu</span>
                <i class="menu-title"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SendMessage/">
                <i class="mdi mdi-message-plus menu-icon"></i>
                <span class="menu-title">Mesaj Oluştur</span>
                <i class="menu-title"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index/">
                <i class="mdi mdi-bell-ring-outline menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut/">
                <i class="mdi mdi-exit-to-app menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>