@using EntityLayer.Concrete
@model List<Announcement>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
@{
    string colour ="";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Duyurular</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Başlık</th>
                            <th>Tarih</th>
                            <th>Tür</th>
                            <th>İçerik</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.AnnouncementStatus == "Yazı")
                            {
                                colour = "badge badge-success";
                            }
                            if (item.AnnouncementStatus == "Video")
                            {
                                colour = "badge badge-warning";
                            }
                            if (item.AnnouncementStatus == "Resim")
                            {
                                colour = "badge badge-danger";
                            }
                            <tr>
                                <td>@item.AnnouncementTitle</td>
                                <td>@(((DateTime)item.AnnouncementDate).ToString("dd-MMM-yyyy"))</td>
                                <td><label class="@colour">@item.AnnouncementStatus</label>
                                <td><a href="/Writer/Default/AnnouncementDetails/@item.AnnouncementId" class="btn btn-outline-primary">İçerik</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
