@model EntityLayer.Concrete.WriterMessage

@{
    ViewData["Title"] = "ReceiverMessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<form class="form-group">
    @Html.HiddenFor(x=>x.WriterMessageId)
    <div class="d-flex">
        <div>
            <p class="text-info mb-1">Gönderici : @Html.DisplayFor(x=>x.WriterMessageSender)</p>
            <p class="text-info mb-1">Konu : @Html.DisplayFor(x=>x.WriterMessageSubject)</p>
            <p class="mb-0">@Html.DisplayFor(x=>x.WriterMessageContent)</p>
        </div>
    </div>
</form>